	/*page index*/

a {
	color:white;
	text-decoration:none;
	display: block;
	padding: 10px 20px;
}

body{
	background-color: #8086B6;	
}


ul.menu {
	background-color: #42529C;
	display: flex; 
	border-right: none;
	list-style-type: none;
}

.Presentation{
	color: white;
	text-align: center;
}

#footer{
	display: flex;
	flex-direction: column-reverse;
	color: 
}

#top{

	text-align:right;
	background-color: #8086B6;
}
