	/*page index*/

a {
	color:white;
	text-decoration:none;
	display: block;
	padding: 10px 20px;
}

body{
	background-color: #8086B6;	
}

form{
	color:white;
}


ul.menu {
	background-color: #42529C;
	display: flex; 
	border-right: none;
	list-style-type: none;
}

.Presentation{
	color: white;
	text-align: center;
}

#imgMerBaltique{
	display : block;
	margin-left: auto;
	margin-right: auto;
}

#footer{
	display: flex;
	flex-direction: column-reverse; 
}

#top{

	text-align:right;
	background-color: #8086B6;
}
